*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  overflow: hidden;
  background-color: lightgreen;
}

i:hover{
  cursor: pointer;
}

#container{
  width: 80%;
  margin: 10vh 10%;
  height: 80vh;
}

/* address */
#address{
  float: left;
  width: 25%;
  height: 100%;
}

.myProfile{
  height: 50px;
  background-color: #ccc;
  display:flex;
  justify-content: space-between;
  align-items: center;
  border-right: solid 1px black;
}

.myProfile i{
  font-size: 40px;
  margin-left: 10px;
}

.myProfile-icon i{
  font-size: 18px;
  margin-right: 10px;
}

#notification{
  height: 50px;
  background-color: lightblue;
  padding: 2% 0;
  display: flex;
  align-items: center;
}

.circle{
  background-color: white;
  border-radius: 50%;
  width: 36px;
}

.circle i{
  color: lightblue;
  font-size: 30px;
}

.text-notification{
  padding-left: 7px;
}

.text-notification h2{
  font-size: 18px;
}

.text-notification p{
  font-size: 15px;
  color: grey;
  text-decoration: underline;
}

#serchAddress{
  background-color: #fff;
  padding: 1%;
  display: flex;
  justify-content: center;
}

#serchAddress input{
  width: 90%;
}

#x{
  color: red;
  margin-left: 2px;
}

#x:hover{
  cursor: pointer;
}

#listaAddress{
  height: calc(100% - 127px);
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff;
}

.friends{
  height: 50px;
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.friends:hover{
  background-color: #e4e4e4;
}

.friends .profile-img i{
  font-size: 30px;
  margin: 0 5px;
}

.anteprima h1{
  font-size: 20px;
}

.anteprima p{
  font-size: 15px;
  color: grey;
}
/* chat messaggi */
/* top chat */
#chat{
  height: 100%;
  float:left;
  width: 75%;
}

#main-chat{
  height: 90%;
  background-image: url("https://external-preview.redd.it/rEwFriCkfAtjOb5b-23b4tGGVcuvfaBqamYNJrgxnLM.png?auto=webp&s=f3bf0b5c90e4c5fda12ff2139781c854554fd198");
  overflow-y: auto;
  overflow-x:hidden;
}

.top-chat{
  height: 50px;
  background-color: #ccc;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.friend{
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
}

.friend i{
  font-size: 40px;
  margin-left: 10px;
}

#name{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;
}

#name h1{
  font-size: 25px;
}

#name p{
  font-size: 15px;
  color: grey
}

.icon i{
  margin-right: 27px;
  color: slategrey;
}
/* main chat */
.answer{
  margin-right: 80%;
  background-color: #f5eeee;
  text-align: center;
  padding: 1%;
  border-radius: 15px;
  margin-top: 5px;
}

.user{
  background-color: green;
  text-align: center;
  padding: 1%;
  margin-left: 80%;
  border-radius: 15px;
  margin-top: 5px;
  position: relative;
}

.fa-chevron-down{
  position: absolute;
  top: 11px;
  right: 5px;
}

.drop-down-content{
  box-shadow: 1px 1px 1px 1px #00000040;
  background-color: #fff;
  position:absolute;
  top: 20px;
  right: 5px;
  width: 203px;
  border-radius: 5px;
  z-index: 10;
}

.drop-down-content ul{
  list-style: none;
}

.drop-down-content ul li{
  padding: 10px;
}

/* riga imput */
#inputMes{
  height: 10%;
  display: flex;
  background-color: #ccc;
  justify-content: space-around;
  align-items: center;
}

#inputMes input{
  width: 80%;
  border-radius: 15px;
  height: 70%;
}

button{
  width: 15%;
  border-radius: 15px;
  height: 70%;
  font-size: 25px;
}


.hidden{
  display: none;
}
